{% extends "layouts/layouts.html" %}
{% block title %} Phacharamon POS {% endblock %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <div class=" border border-dark">
                <h2 class="text-center">ชำระสินค้า<i class="fas fa-shopping-cart px-2"></i>0</h2>
                <a class="text-center text-dark text-uppercase font-weight-bold px-3" href="">
                </a>
                <div class="footer">
                    1
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="row">
                <div class="col">
                    <h2>สินค้าทั้งหมด</h2>
                </div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <input class="form-control mr-sm-1" type="text" placeholder="ชื่อสินค้า / รหัสสินค้า"
                            aria-label="Search">
                        <span><i class="fa fa-barcode px-1 fa-2x"></i></span>
                    </div>
                </div>

                <div class="col-lg-2 px-1">
                    <a class="btn btn-success text-light text-center text-uppercase font-weight-bold px-3 dropdown-toggle"
                        href="" data-toggle="dropdown">หมวดหมู่สินค้า</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'home' %}">สินค้าทั้งหมด</a>
                        <div class="dropdown-divider"></div>
                        {% for category in links %}
                        <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                        {% endfor%}
                    </div>
                </div>
            </div>


            <div class="row">
                {% for products in product %}
                <div class="col-lg-3 mt-5">
                    <div class="card shadow-sm p-1  bg-white rounded ">
                        {% if products.image %}
                        <a href="#">
                            <img src="{{ products.image.url }}" alt="image" class="card-img-top" height="120px" width="120px">
                        </a>
                        {% else %}
                        <a href="#">
                            <img src="{% static 'media/no-pic.jpg' %}" alt="image" class="card-img-top" height="100px">
                        </a>
                        {% endif %}
                        <div class="card-body mt-1" height="100px">
                            <h5 class="card-title text-center font-weight-bold">{{ products.name}}</h5>
                        </div>

                        <div class="card-footer">
                            {% if products.stock <= 0 %} <h4 class="text-center text-danger font-weight-bold mb-3">
                                สินค้าหมด</h4>
                                {% else %}
                                <a href="#" class="btn btn-success btn-lg btn-block "> เลือกสินค้า </a>
                                {% endif %}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
            </div>

        

    </div>
</div>



{% endblock %}