{% extends "layouts/layouts.html" %}
{% block title %} Phacharamon POS {% endblock %}
{% load humanize %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS.css' %}">
{% endblock %}
{% block script %}
    <script src="{% static 'JS.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <div class=" border border-dark-fluid">
                <h2 class="text-center">รายการสินค้า <br><i class="fas fa-shopping-cart"></i>
                {% if item_count > 0 %}
                    {{item_count}}
                {% else %}
                  0
                {% endif %}</h2>
                <br>
                <p> {{total | intcomma}} </p>
                <p> {{counter}} </p>
                <!--<div class="footer">
                    1
                </div>-->
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="row">
                <div class="col">
                    <h2>สินค้าทั้งหมด</h2>
                </div>

                <div class="col-lg-2 px-1">
                    <a class="btn btn-success text-light text-center text-uppercase font-weight-bold px-3 dropdown-toggle"
                        href="" data-toggle="dropdown">หมวดหมู่สินค้า</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'home' %}">สินค้าทั้งหมด</a>
                        <div class="dropdown-divider"></div>
                        {% for category in links %}
                        <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                        {% endfor%}
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="input-group">
                        <input class="my-input mr-sm-1" type="text" placeholder="ชื่อสินค้า / รหัสสินค้า"
                            aria-label="Search">
                            <button type="submit" class="btn btn-success"><i class="fa fa-barcode px-1 fa-1x"></i></button>
                        <span></span>
                    </div>
                </div>

                
            </div>


            <div class="row">
                {% for products in product %}
                <div class="col-lg-3 mt-3">
                    <div class="card shadow-sm p-1  bg-white rounded ">
                        {% if products.image and products.stock <= 0 %}
                        <a>
                            <img  src="{{ products.image.url }}" alt="image" class="card-img-top" height="160px" width="110px">
                        </a>
                        {% else %}
                        <a href="{%url 'addCart' products.id%}">
                            <img  src="{{ products.image.url }}" alt="image" class="card-img-top" height="160px" width="110px">
                        </a>
                        <!--<a href="#">
                            <img src="{% static 'media/no-pic.jpg' %}" alt="image" class="card-img-top" height="150px">
                        </a>-->
                        {% endif %}

                        <div class="card-footer">
                            {% if products.stock <= 0 %} <h4 class="text-center text-danger font-weight-bold mb-3">
                                สินค้าหมด</h4>
                                {% else %}
                                <!--<a href="{%url 'addCart' products.id%}" class="btn btn-success btn-lg btn-block "> เลือกสินค้า </a>-->
                                <h5 class="card-title text-center font-weight-bold">{{ products.name}}</h5>
                                {% endif %}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            <footer>
                <ul class="pagination justify-content-end">
                    {% if product.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page=product.previous_page_number">Previous</a></li>
                    {% endif %}
        
                    {% for i in product.paginator.page_range %}
                    <li class="page-item {% if product.number == i %}active{% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}
        
                    {% if product.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{product.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            </footer>
            </div>

            
        

    </div>
</div>



{% endblock %}